<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>
            
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
            
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Notice-->
                       
                        <!--end::Notice-->
                        <!--begin::Card-->
                        <div class="row">
                      
                            <div class="col-lg-12">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <!--begin::Header-->
                                    <div class="card-header h-auto">
                                        <!--begin::Title-->
                                        <div class="card-title py-5">
                                            <h3 class="card-label">Rendimiento mensual</h3>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Header-->
                                    <div class="card-body">
                                        <!--begin::Chart-->
                                        <div id="chart_1"></div>
                                        <!--end::Chart-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>

                            <div class="col-lg-7">
                                <!--begin::Card-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <!--begin::Header-->
                                    <div class="card-header h-auto">
                                        <!--begin::Title-->
                                        <div class="card-title py-5">
                                            <h3 class="card-label">Rendimiento de prospección</h3>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Header-->
                                    <div class="card-body">
                                        <!--begin::Chart-->
                                        <div id="chart_2"></div>
                                        <!--end::Chart-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>

                            <div class="col-lg-5">
                                <!--begin::Card-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <!--begin::Header-->
                                    <div class="card-header h-auto">
                                        <!--begin::Title-->
                                        <div class="card-title py-5">
                                            <h3 class="card-label">Rendimiento por genero</h3>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Header-->
                                    <div class="card-body">
                                        <!--begin::Chart-->
                                        <div id="chart_3"></div>
                                        <!--end::Chart-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Container-->
                </div>
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>








