<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
                <!--end::Subheader-->
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">

                        <div class="row mt-5" *ngIf="load_data">
                            <div class="col-12 text-center">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                            </div>
                        </div>

                        <ng-container *ngIf="!load_data">
                            <ng-container *ngIf="data">
                                <div class="card card-custom gutter-b example example-compact form-group">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <span class="font-weight-bolder text-dark">Crear ciclo de&nbsp;<span class="text-primary">Programación</span></span>
                                        </h3>
                                 
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-12">
                                                <div class="row mb-3">
                                                    
                                                    <div class="col-12">
                                                        <h6 class="text-dark font-weight-bolder mb-7">Datos del ciclo:</h6>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1">
                                                                <b>Nivel</b>
                                                            </label>
                                                            <select class="form-control" name="nivel" [(ngModel)]="ciclo.nivel">
                                                                <option value="" disabled selected>Seleccionar</option>
                                                                <option value="Basico 1">Basico 1</option>
                                                                <option value="Basico 2">Basico 2</option>
                                                                <option value="Basico 3">Basico 3</option>
                                                                <option value="Intermedio 1">Intermedio 1</option>
                                                                <option value="Intermedio 2">Intermedio 2</option>
                                                                <option value="Intermedio 2">Intermedio 3</option>
                                                                <option value="Avanzado 1">Avanzado 1</option>
                                                                <option value="Avanzado 2">Avanzado 2</option>
                                                                <option value="Avanzado 3">Avanzado 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1">
                                                                <b>Sede</b>
                                                            </label>
                                                            <select class="form-control" name="sede" [(ngModel)]="ciclo.sede">
                                                                <option selected="" disabled value="">Seleccionar</option>
                                                                <option value="Lima">Lima</option>
                                                                <option value="Arequipa">Arequipa</option>
                                                                <option value="Trujillo">Trujillo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1">
                                                                <b>Precio</b>
                                                            </label>
                                                           <input type="text" class="form-control" placeholder="Precio mensual" name="precio" [(ngModel)]="ciclo.precio">
                                                        </div>
                                                    </div>
                                                </div>  
                                                
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="text-dark font-weight-bolder mb-7">Fecha de clases:</h6>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1">
                                                                <b>Inicio</b>
                                                            </label>
                                                            <div class="input-group date mb-2" >
                                                                <input min="{{str_today}}" type="date" class="form-control" placeholder="Inicio de clases" name="f_inicio" [(ngModel)]="ciclo.f_inicio"/>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                    <i class="la la-bullhorn"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1">
                                                                <b>Fin</b>
                                                            </label>
                                                            <div class="input-group date mb-2" >
                                                                <input min="{{str_today}}" type="date" class="form-control" placeholder="Fin de clases" name="f_fin" [(ngModel)]="ciclo.f_fin"/>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                    <i class="la la-bullhorn"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-sm-12">
                                                <tinymce name="descripcion" [(ngModel)]="ciclo.descripcion"></tinymce>
                                            </div>
                                        </div>
                                
                                       
                                    </div>
                                </div>
                                
                                <div class="card card-custom gutter-b example example-compact form-group">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <span class="font-weight-bolder text-dark">Agregar salones</span>
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                 
                                        <div class="row">
                                            <div class="col-lg-5 col-sm-12">
                                                <div class="row">
                                                   
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1"><b>Salon</b></label>
                                                            <select class="form-control" name="salon" [(ngModel)]="salon.salon">
                                                                <option value="" selected="" disabled>Seleccionar</option>
                                                                <option value="Salon 1">Salon 1</option>
                                                                <option value="Salon 2">Salon 2</option>
                                                                <option value="Salon 3">Salon 3</option>
                                                                <option value="Salon 4">Salon 4</option>
                                                                <option value="Salon 5">Salon 5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1"><b>Aforo total</b></label>
                                                            <input type='number' class="form-control" placeholder="Aforo total" name="aforo_total" [(ngModel)]="salon.aforo_total"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1"><b>Hora inicio</b></label>
                                                            <ngb-timepicker [(ngModel)]="h_inicio"></ngb-timepicker>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleSelect1"><b>Hora fin</b></label>
                                                            <ngb-timepicker [(ngModel)]="h_fin"></ngb-timepicker>
                                                        </div>
                                                    </div>
                                                    <div  class="col-12 col-md-12  form-group">
                                                        <label for="exampleSelect1"><b>Horario semanal</b></label>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="checkbox-list" >
                                                                    <label class="checkbox" for="customCheck1">
                                                                        <input type="checkbox" class="custom-control-input" value="Lunes" id="customCheck1" (change)="select_day($event)">Lunes
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="checkbox" for="customCheck2">
                                                                        <input type="checkbox" class="custom-control-input" value="Martes" id="customCheck2" (change)="select_day($event)">Martes
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="checkbox" for="customCheck3">
                                                                        <input type="checkbox" class="custom-control-input" value="Miercoles" id="customCheck3" (change)="select_day($event)">Miercoles
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="checkbox" for="customCheck4">
                                                                        <input type="checkbox" class="custom-control-input" value="Jueves" id="customCheck4" (change)="select_day($event)">Jueves
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="checkbox-list" >
                                                                    
                                                                    <label class="checkbox" for="customCheck5">
                                                                        <input type="checkbox" class="custom-control-input" value="Viernes" id="customCheck5" (change)="select_day($event)">Viernes
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="checkbox" for="customCheck6">
                                                                        <input type="checkbox" class="custom-control-input" value="Sabado" id="customCheck6" (change)="select_day($event)">Sabado
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="checkbox" for="customCheck7">
                                                                        <input type="checkbox" class="custom-control-input" value="Domingo" id="customCheck7" (change)="select_day($event)">Domingo
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-12">
                                                        <button type="button" (click)="agregar_ciclo()" style="margin-bottom: 0px !important;" class="btn btn-primary">Agregar</button>
                                           
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-sm-12">
                                                <table class="table table-striped table-bordered table-hover mb-0">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">Salon</th>
                                                            <th scope="col">Aforo</th>
                                                            <th scope="col">Hora</th>
                                                            <th scope="col">Días</th>
                                                            <th scope="col">Quitar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of salones; let idx = index">
                                                            <th scope="row">{{item.salon}}</th>
                                                            <th>{{item.aforo_total}}</th>
                                                            <th>{{item.h_inicio}} - {{item.h_fin}}</th>
                                                            <th>
                                                                <ng-container *ngFor="let subitem of item.f_dias; let ultimo = last">
                                                                    <span *ngIf="!ultimo">{{subitem.substr(0,3)}}, </span>
                                                                    <span *ngIf="ultimo">{{subitem.substr(0,3)}}</span>
                                                                </ng-container>
                                                                
                                                            </th>
                                                            <th scope="row">
                                                                <a style="cursor: pointer;" class="text-danger" (click)="eliminar_salon(idx)">[Quitar]</a> <br>
                                                                
                                                            </th>
                                                        </tr>
                                                        
                                                    </tbody>
                                                    <!-- <tbody>
                                                        <tr>
                                                            <td colspan="6" class="text-center">
                                                                <span class="">No se encontraron resultados</span>
                                                            </td>
                                                        </tr>
                                                    </tbody> -->
                                                    
                                               
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button *ngIf="!btn_load" (click)="registrar()" type="button" style="margin-bottom: 0px !important;" class="btn btn-primary">Crear ciclo</button>
                                           
                                <button *ngIf="btn_load"  class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Creando...
                                </button>
                            </ng-container>
                            <ng-container *ngIf="!data">
                                <app-notfound></app-notfound>
                            </ng-container>
                            
                        </ng-container>
                        
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
            
        </div>
    </div>
</div>