<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>
            
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
            
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <div class="card card-custom mb-7">
                            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                <div class="card-title">
                                    <h3 class="card-label">Email Marketing
                                    <span class="text-muted pt-2 font-size-sm d-block">Crea campañas de email marketing</span></h3>
                                </div>
                                <div class="card-toolbar">
                                    <a [routerLink]="['/marketing/email/listas']"  class="btn btn-light-info btn-sm font-weight-bold font-size-sm mr-3">Contactos</a>
                                    <a style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#createEmail'" class="btn btn-light-warning btn-sm font-weight-bold font-size-sm">Nueva campaña</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-xl-5">
                                            <div class="row align-items-center">
                                                <div class="col-md-12 my-2 my-md-0">
                                                    <div class="input-icon">
                                                        <input type="text" class="form-control" placeholder="Buscar campaña" name="filtro">
                                                        <span>
                                                            <i class="flaticon2-search-1 text-muted"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                                            <a style="cursor: pointer;" class="btn btn-light-primary px-6 font-weight-bold" >Buscar</a>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <!--end::Card-->
            
                        <div class="card card-custom">
                            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                <div class="card-title">
                                    <h3 class="card-label">Campañas
                                    <span class="text-muted pt-2 font-size-sm d-block">Muestra las campañas creadas</span></h3>
                                </div>
                                <div class="card-toolbar">
                                    <a style="cursor: pointer;" class="btn btn-primary btn-sm font-weight-bold font-size-sm" (click)="init_data()">Refrescar</a>
                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-vertical-center">
                                        <thead>
                                            <tr>
                                                <th class="p-0" style="width: 50px"></th>
                                                <th class="p-0" style="min-width: 200px"></th>
                                                <th class="p-0" style="min-width: 100px"></th>
                                                <th class="p-0" style="min-width: 80px"></th>
                                                <th class="p-0" style="min-width: 80px"></th>
                                                <th class="p-0" style="min-width: 80px"></th>
                                                <th class="p-0" style="min-width: 80px"></th>
                                                <th class="p-0" style="min-width: 50px"></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!load_data">
                                            <tr *ngFor="let item of campaigns">
                                                <!-- 3699ff -->
                                                <td class="pl-0 py-4">
                                                    <div class="symbol symbol-50 symbol-light mr-1">
                                                        <span *ngIf="item.status == 'sent'" class="symbol-label" style="background-color: #25bf67;">
                                                            <i class="flaticon2-check-mark text-white icon-lg"></i>
                                                        </span>
                                                        <span *ngIf="item.status == 'suspended'" class="symbol-label"  style="background-color: #fd4540;">
                                                            <i class="flaticon2-check-mark text-white icon-lg"></i>
                                                        </span>
                                                        <span *ngIf="item.status == 'inProcess'" class="symbol-label"  style="background-color: #3699ff;">
                                                            <i class="flaticon2-check-mark text-white icon-lg"></i>
                                                        </span>
                                                        <span *ngIf="item.status == 'draft'" class="symbol-label"  style="background-color: #b7bfc7;">
                                                            <i class="flaticon2-check-mark text-white icon-lg"></i>
                                                        </span>
                                                        <span *ngIf="item.status == 'queued'" class="symbol-label"  style="background-color: #FFA800;">
                                                            <i class="flaticon2-check-mark text-white icon-lg"></i>
                                                        </span>
                                                        <span *ngIf="item.status == 'in_process'" class="symbol-label"  style="background-color: #8950FC;">
                                                            <i class="flaticon2-check-mark text-white icon-lg"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="pl-0">
                                                    <ng-container>
                                                        <span class="mr-3 badge badge-success" *ngIf="item.status == 'sent'" style="background-color: #25bf67;">Enviado</span>
                                                        <span class="mr-3 badge badge-success" *ngIf="item.status == 'suspended'" style="background-color: #fd4540;">Suspendido</span>
                                                        <span class="mr-3 badge badge-success" *ngIf="item.status == 'inProcess'" style="background-color: #3699ff;">En progreso</span>
                                                        <span class="mr-3 badge badge-success" *ngIf="item.status == 'draft'" style="background-color: #b7bfc7;">Borrador</span>
                                                        <span class="mr-3 badge badge-success" *ngIf="item.status == 'queued'" style="background-color: #FFA800;">En cola</span>
                                                        <span class="mr-3 badge badge-success" *ngIf="item.status == 'in_process'" style="background-color: #8950FC;">En despliegue</span>
                                                      
                                                    </ng-container>
                                                    
                                                    <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.name}}</a>
                                                    <div>
                                                        <a *ngIf="item.status == 'sent' || item.status == 'draft'" target="_blank" href="https://my.sendinblue.com/camp/preview/id/{{item.id}}" class="text-primary mr-3" style="font-size: 1rem !important;">
                                                            <i class="flaticon-eye text-primary"></i> Vista previa
                                                        </a>
                                                        <a *ngIf="item.status == 'sent'" target="_blank" href="https://my.sendinblue.com/camp/report/id/{{item.id}}" class="text-success" style="font-size: 1rem !important;">
                                                            <i class="flaticon-eye text-success"></i> Reporte
                                                        </a>
                                                    </div>
                                                    
                                                </td>
                                                <td class="text-right">
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.createdAt | date}}</span>
                                                    <span class="text-muted font-weight-bold">Fecha</span>
                                                </td>
                                                <td class="text-right">
                                                    <span class="text-muted font-weight-500"></span>
                                                    <ng-container *ngIf="item.status == 'sent'">
                                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.statistics.campaignStats[0].sent}}</span>
                                                        <span class="text-muted font-weight-bold">Enviados</span>
                                                    </ng-container>
                                                </td>
                                                <td class="text-right">
                                                    <span class="text-muted font-weight-500"></span>
                                                    <ng-container *ngIf="item.status == 'sent'">
                                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.statistics.campaignStats[0].delivered}}</span>
                                                        <span class="text-muted font-weight-bold">Entregados</span>
                                                    </ng-container>
                                                </td>
                                                <td class="text-right">
                                                    <span class="text-muted font-weight-500"></span>
                                                    <ng-container *ngIf="item.status == 'sent'">
                                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.statistics.campaignStats[0].trackableViews}}</span>
                                                        <span class="text-muted font-weight-bold">Abiertos</span>
                                                    </ng-container>
                                                </td>
                                                <td class="text-right">
                                                    <span class="text-muted font-weight-500"></span>
                                                    <ng-container *ngIf="item.status == 'sent'">
                                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.statistics.campaignStats[0].clickers}}</span>
                                                        <span class="text-muted font-weight-bold">Clickers</span>
                                                    </ng-container>
                                                </td>
                                                <td class="text-right pr-0">
                                                    <div class="dropdown dropleft">
                                                        <button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="ki ki-bold-more-ver"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                   
                                                            <a style="cursor: pointer;" class="dropdown-item">
                                                                Eliminar
                                                            </a>
                                                            <a *ngIf="item.status == 'draft'" data-toggle="modal" [attr.data-target]="'#send-'+item.id" style="cursor: pointer;" class="dropdown-item">
                                                                Enviar campaña
                                                            </a>
                                                        </div>
                                                    </div>
            
                                                    
                                                    <div class="modal fade" id="send-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Confirmación de despliegue.</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <i aria-hidden="true" class="ki ki-close"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Desea desplegar la campaña ahora mismo.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-warning font-weight-bold" data-dismiss="modal">Cerrar</button>
                                                                    <button *ngIf="!load_send" type="button" class="btn btn-danger font-weight-bold" (click)="send(item.id)">Enviar</button>
                                                    
                                                                    <button *ngIf="load_send" class="btn btn-danger" type="button" disabled>
                                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                        Enviando...
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                </td>
                                            </tr>
                                        </tbody>
                                        <ng-container *ngIf="load_data">
                                            <tbody>
                                                <tr>
                                                    <td colspan="8" class="text-center" >
                                                        <div class="spinner-border" role="status">
                                                            <span class="sr-only">Loading...</span>
                                                          </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </ng-container>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>



<div class="modal fade" id="createEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 600px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva campaña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="min-width: 500px;max-height: 500px;
            overflow: hidden;
            overflow-y: auto;">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for=""><b>Nombre de la campaña</b></label>
                        <input type="text" class="form-control" placeholder="Nombre de la campaña" name="name" [(ngModel)]="email.name">
                    </div>
                    <div class="col-lg-12 form-group">
                        <label for=""><b>Asunto</b></label>
                        <input type="text" class="form-control" placeholder="Asunto de la campaña"name="subject" [(ngModel)]="email.subject" >
                    </div>
                    <div class="col-lg-12 form-group">
                        <tinymce name="html_content" [(ngModel)]="email.html_content"></tinymce>
                    </div>
                    <div class="col-lg-12">
                        <label for=""><b>Grupo de contactos</b></label>
                        <select  class="form-control" name="listid" [(ngModel)]="email.listid">
                            <option value="" disabled selected>Seleccionar</option>
                            <option value="{{item.id}}" *ngFor="let item of listas">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button  type="button" class="btn btn-primary font-weight-bold" (click)="crear()">Crear campaña</button>
                <!-- <button  class="btn btn-primary font-weight-bold" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Importando...
                </button> -->
            </div>
        </div>
    </div>
</div>