<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>
            
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
                <!--end::Subheader-->
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <div class="card card-custom">
                            <div class="card-body p-0">
                                <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                                    <div class="col-xl-12 col-xxl-7">
                                        <!--begin::Form Wizard-->
                                        <form class="form" id="kt_projects_add_form">
                                            <!--begin::Step 1-->
                                            <div class="pb-5">
                                                <h3 class="mb-10 font-weight-bold text-dark">Producto:</h3>
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <input class="form-control form-control-lg form-control-solid" name="projectname" type="text" placeholder="Nombre del producto" name="titulo" [(ngModel)]="producto.titulo"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Categoría</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <select class="form-control form-control-lg form-control-solid selectpicker" data-size="7" data-live-search="true"  name="categoria" [(ngModel)]="producto.categoria">
                                                                    <option value="" selected disabled>Seleccionar</option>
                                                                    <option value="{{item.titulo}}" *ngFor="let item of categorias">{{item.titulo}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Tipo</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <select class="form-control form-control-lg form-control-solid"  name="tipo" [(ngModel)]="producto.tipo">
                                                                    <option value="" disabled selected>Seleccionar</option>
                                                                    <option value="Fisico">Fisico</option>
                                                                    <option value="Digital">Digital</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Variedad</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <input class="form-control form-control-lg form-control-solid" name="projectname" type="text" placeholder="Color, Talla, etc"  name="tipo_variedad" [(ngModel)]="producto.tipo_variedad"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Descripción</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <textarea class="form-control form-control-lg form-control-solid" name="projectname" type="text" placeholder="Resumen del producto" name="descripcion" [(ngModel)]="producto.descripcion"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Portada</label>
                                                            <div class="col-9">
                                                                <div class="image-input image-input-empty image-input-outline" id="kt_user_edit_avatar" style="background-image: url({{str_portada}})">
                                                                    <div class="image-input-wrapper"></div>
                                                                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="Portada">
                                                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" (change)="fileEventChange($event)"/>
                                                       
                                                                    </label>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between mt-5">
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4">Regresar</button>
                                                </div>
                                                <div>
                                                    <button *ngIf="!load_btn" type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4 mr-3" (click)="crear()">Crear</button>
                                                    <button *ngIf="load_btn" class="btn btn-success font-weight-bolder px-9 py-4" type="button" disabled>
                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                        Creando...
                                                    </button>
                                                </div>
                                            </div>
                                            <!--end::Step 1-->
                                          
                                          
                                        <!--end::Step 1-->
                                            <!--begin::Actions-->
                                            
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form Wizard-->
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>



